
body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
	width: 100%;
	height: 100%;
}

#logo {
    padding-left: 7px;
    float: left;
}
#header {

    background-color:black;
    color:#FF7700;
    text-align:center;
    padding: 5px;
    padding-right: 213px;
    height:100px;
}
#login {
	background-color: black;
	color: white;
	text-align: right;
	padding-bottom: 5px;
	padding-right: 15px;

}
#Nav {
	line-height:30px;
	background-color:#eeeeee;
	height: 450px;
	width:213px;
	float:left;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: left;	
}
#currentNav
{
	background-color: gray;
	padding-top: 5px;
	padding-left: 24px;
	padding-bottom: 5px;
	color: white;
}
#nextNav
{
	padding-top: 5px;
	padding-left: 14px;
	padding-bottom: 5px;
}

#liveData {
    padding:15px;
    float: left;
    height: 60%;
}
#siloId {
	text-align: left;
	color: white;
	padding: 7px;
}
#liveDataTable{
	width: 100%;
	height: 100%;
}

#sensorsTable {
	padding: 5px;
	border: 1px solid black;
	color: white;
	border-collapse: collapse;
}

th,td {
	padding: 5px;
	border: 1px solid black;
   border-collapse: collapse;	
   background-color: white;
   color: black;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:right;
    padding:5px;
}